<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
	<appSettings>
		<add key="appName" value="Olif" />
		<add key="version" value="0.1" />
		<add key="dbtype" value="SQLITE" />
		<add key="sqliteDB" value ="Olif.db"/>
		<add key="database" value ="Olif"/>
		<add key="loglevel" value="debug" />
		
		<add key="env" value="uat"/>
		<add key="uat.sso.http" value="https" />
		<add key="uat.sso.absurl" value="6NUnewI18Sb720u/UJI+rvms8dztRU91ATKFRlqGRng=" />
		<add key="uat.sso.auth" value="/realms/{realm}/protocol/openid-connect/token" />
		<add key="uat.sso.introspect" value="/realms/{realm}/protocol/openid-connect/token/introspect" />
		<add key="uat.sso.healthcheck" value="/realms/{realm}"/>
		<add key="uat.sso.realm" value="DBOS" />
		<add key="uat.sso.user.client_id" value="admin-cli" />
		<add key="uat.sso.service.client_id" value="SJR2w4VG5PzHEgTo+aabqg==" />
		<add key="uat.sso.service.client_secret" value="j69GE6kt0HvG0XmuMBeP1wO53c9DuoUFFQdLpRzWFec=" />

		<add key="prod.sso.http" value="https" />
		<add key="prod.sso.absurl" value="sso-dbos-cv.dbos.corp.alliancebg.com.my" />
		<add key="prod.sso.auth" value="/auth/realms/dbos/protocol/openid-connect/token" />
		<add key="prod.sso.introspect" value="/auth/realms/dbos/protocol/openid-connect/token/introspect" />
		<add key="prod.sso.realm" value="dbos" />
	</appSettings>
</configuration>